<div data-ng-controller="listCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Products
                <span class="glyphicon glyphicon-plus-sign cursor-pointer pls vat" data-ng-click="createProduct()">
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Sku</th>
                    <th>Description</th>
                    <th>Delete?</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="product in products">
                    <td>
                        <a href="#products/item?sku={{product.sku}}">{{product.sku}}</a>
                    </td>
                    <td>{{product.description}}</td>
                    <td>
                        <span class="glyphicon glyphicon-trash cursor-pointer" data-ng-click="deleteProduct(product.sku)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>